<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../public/js/jquery.min.js"></script>
</head>
<body>
    <form method="POST" action="/upload" enctype="multipart/form-data">
        title: <input name="title" /><br/>
        file: <input  name="file[]" type="file"/><br/>
        file: <input  name="file[]" type="file"/><br/>
        file: <input  name="file[]" type="file"/><br/>
        <button type="submit">上传</button>
    </form>
    <script>
        var data = {
            title: '张达志',
            content: '真可怕'
        }

        $.ajaxSetup({
            headers: {
                'Content-Type': 'application/json; charset=utf-8'
            }
        })

        $.post('api/posts', JSON.stringify(data), function (res) {
            console.log(res)
        })
    </script>
</body>
</html>